<div class="ui two column centered grid">
  <div class="column">
    <h3 class="ui block header">
      Edit Calendar
    </h3>
    <%= render partial: 'form', locals: { calendar: calendar } %>
  </div>
</div>